#root {
  max-width: 1280px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.resizer {
  width: 10px;
  height: 100%;
  background-color: #6e6e6e;
  cursor: col-resize;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  border-radius: 5px;
}

.resize-handle {
  width: 4px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

.send-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: #5e5e5e;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  padding: 3px;
}

.input-text {
  flex: 1;
  border: none;
  border-bottom-left-radius: 20px;
  padding: 10px 60px 10px 30px;
  font-size: 1.2rem;
  resize: none;
  max-height: 50px;
  width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.input-text::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.input-text:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.input-text::placeholder {
  color: #a0a0a0;
  font-size: 1.2rem;
}